:root {
    --white-color: #fefefe;
    --green-color: rgb(10, 102, 1);
    --yellow-color: rgb(0, 187, 187);
    --orange-color: #ffe600;
    --red-color: rgba(197, 9, 3, 0.795);
    --blue-color: #5783e5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white-color);
    color: var(--orange-color);
    font-family: Lato;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    background-color: black;
    padding: 30px;
}

.title {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 2rem;
}

.time {
    font-size: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.time .milliseconds {
    font-size: 2.5rem;
}

.minutes,
.seconds,
.milliseconds {
    display: inline-block;
    text-align: center;
    width: 130px;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn-css {
    border: none;
    color: white;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s linear;
}

.btn-css:hover {
    opacity: 0.8;
}

.buttons #start {
    background-color: var(--green-color);
}

.buttons #stop {
    background-color: var(--red-color);
}

.buttons #reset {
    background-color: var(--yellow-color);
}
